In [1]:
mi_tupla=(2,4,6,8,10) #valores separados por comos y entre parentesis
print(mi_tupla)
type(mi_tupla) #sabemos de que tipo es

(2, 4, 6, 8, 10)

tuple

In [2]:
tupla_dias=("lenes","martes","miercoles","jueves","viernes","sabado","domingo")
print(tupla_dias[1]) #El elemento en el indice 1 de la tupla

martes

In [3]:
"jueves" in tupla_dias  # in... buscamos que un valor si se encuente en la tupla

True

In [8]:
tupla_dias[1:3]

('martes', 'miercoles')

In [4]:
tupla_dias.count("sabado") # la cantidad de veces que aparece el valor en la tupla

1

In [7]:
mi_tupla_unitaria=("blanco",) #se crea una tupla unitaria; pero es necesario poner una coma , al final
type(mi_tupla_unitaria) # sin la coma se concidera que es solo un str

tuple

In [1]:
tupla = 1,2,3
a,b,c = tupla
print(tupla)

(1, 2, 3)

In [9]:
x=11
y=22
z="Henry"
mi_tupla=x,y,z
print(mi_tupla)
type(mi_tupla)

(11, 22, 'Henry')

tuple

In [10]:
date=(27,"enero",1993) #Desempaquetado de tuplas
print(date)
type(date)

(27, 'enero', 1993)

tuple

In [11]:
uno,dos,tres=date
print(uno)
print(dos)
print(tres)

27
enero
1993

In [12]:
tupla_impares=(1,3,5,7,9) #desempaquetamos los valores que estan dentro de la tupla
primero=tupla_impares[0]
cuarto=tupla_impares[3]
quinto=tupla_impares[4]
print(primero)
print(cuarto)
print(quinto)

1
7
9

In [13]:
lista_impares=list(tupla_impares) #SE CONVIERTE LA TUPLA EN UNA LISTA y vemos los valores encerrados entre corchetes
print(lista_impares)
type(lista_impares) #se comprueba qe si se trate de una convercion a lista

[1, 3, 5, 7, 9]

list

In [14]:
nueva_tupla=tuple(lista_impares) #convertimos nuevamente la lista en tupla y vemos los valores encerrados en parentesis 
print(nueva_tupla)
type(nueva_tupla) #comprovamos que el tipo sea una tupla

(1, 3, 5, 7, 9)

tuple

In [26]:
my_tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(my_tupla)
print(my_tupla[9:15]) #Imprimir desde el Ã­ndice 10 al 15 de la tupla
20,30 in my_tupla
my_tupla.count(3)
lista_convertida=list(my_tupla) #converimos la tupla en lista  []
print(lista_convertida)
my_tupla=tuple(lista_convertida) #convertimos la lista en tupla  ()
print(my_tupla)
primer=my_tupla[0] #DESEMPAQUETAMOS LA TUPLA Y MOSTRAMOS LOS PRIMEROS TRES ELEMENTOS EN 3 VARIABLES
segund=my_tupla[1]
tercer=my_tupla[2]
print(primer)
print(segund)
print(tercer)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
(10, 11, 12, 13, 14, 15)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
1
2
3